version: '2'

services:

  agile-dbus:
    container_name: agile-dbus
    image: jordiescudero/wle-agile-dbus:$WLE_VERSION
    restart: always
    volumes:
      - $DBUS_SESSION_SOCKET_DIR:/usr/src/app/.agile_bus

  agile-core:
    container_name: agile-core
    image: jordiescudero/wle-agile-core:$WLE_VERSION
    depends_on:
      - agile-dbus
    volumes:
      - $DBUS_SESSION_SOCKET_DIR:/usr/src/app/.agile_bus
      - $DATA/core/plugins:/usr/src/app/plugins
    environment:
      - DBUS_SESSION_BUS_ADDRESS=unix:path=/usr/src/app/.agile_bus/agile_bus_socket
    ports:
      - 8080:8080/tcp
    restart: always

  agile-ui:
    container_name: agile-ui
    image: jordiescudero/wle-agile-ui:$WLE_VERSION
    restart: always
    depends_on:
      - agile-core
    ports:
      - 2000:1337/tcp

  agile-osjs:
    container_name: agile-osjs
    image: jordiescudero/wle-agile-osjs:$WLE_VERSION
    depends_on:
      - agile-core
    environment:
      - AGILE_HOST=$AGILE_HOST
    ports:
      - 8000:8000/tcp
    restart: always
    volumes:
      - /etc/hostname:/etc/hostname

  agile-nodered:
    image: jordiescudero/wle-agile-nodered:$WLE_VERSION
    container_name: agile-nodered
    hostname: agile-nodered
    volumes:
      - $DATA/nodered:/opt/secure-nodered/.nodered/
    ports:
      - 1880:1880/tcp
    links:
      - agile-core:agile
      - agile-mqtt:mqtt
    restart: always

  agile-security:
    container_name: agile-security
    image: jordiescudero/wle-agile-security:$WLE_VERSION
    hostname: agile-security
    volumes:
      - $DATA/security/idm/conf:/root/idm.conf
      - $DATA/security/idm/db:/root/idm.db
      - /etc/hostname:/etc/hostname
    environment:
      - DOCKER_CONF=/root/idm.conf
      - AGILE_HOST=$AGILE_HOST
    ports:
      - 3000:3000/tcp
      - 1444:1444/tcp
      - 1443:1443/tcp
    restart: always

  agile-zb:
    container_name: agile-zb
    image: jordiescudero/wle-agile-zb-protocol:$WLE_VERSION
    depends_on:
      - agile-dbus
    devices:
      - /dev/ttyAMA0:/dev/ttyUSB0
    volumes:
      - $DBUS_SESSION_SOCKET_DIR:/usr/src/app/.agile_bus
    environment:
      - DBUS_SESSION_BUS_ADDRESS=unix:path=/usr/src/app/.agile_bus/agile_bus_socket
    restart: always

  agile-mqtt:
    container_name: agile-mqtt
    image: fstehle/rpi-mosquitto
    hostname: agile-mqtt
    ports:
      - 1883:1883/tcp
      - 9001:9001/tcp
    restart: always

#  agile-hombridge:
#   container_name: agile-hombridge
#   image: jordiescudero/wle-homebridge:0.1.1
#   depends_on:
#      - agile-mqtt
#   hostname: agile-hombridge
#   network_mode: "host"
#   restart: always
#   volumes:
#      - /mnt/data/rpi-docker-homebridge-homeassistant:/root
#      - /etc/localtime:/etc/localtime
#   ports:
#      - "5353:5353"
#      - "51826:51826"
#   links:
#      - agile-mqtt:mqtt


#  wl-tento-app:
#    container_name: wl-tento-app
#    image: jordiescudero/wle-agile-tento-app:1.0_display
#    depends_on:
#      - agile-core
#    command: [ "node","index.js" ]
#    restart: always
